#todoboard_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-width: 800px;
  /* height: 50vh; */
  margin: 20px auto 0 auto;
  padding: 1.875rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #fff;
}

.todos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}