#allForm {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

#input {
  width: 70%;
  margin-right: 10%;
  box-shadow: 15px 11px 24px -16px rgba(30, 30, 60, 0.29);
}

button {
  width: 15%;
  border: 0.5px solid red;
  background-color: white;
}
