.allForm {
  /* width: 50vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin:auto;
}

.todo_input {
  width: 13.75rem;
  height: 1.875rem;
  border: 1px solid #eee;
  border-radius: 15px;
  margin-right: 0.625rem;
  padding: 5px;
  box-shadow: 15px 11px 24px -16px rgba(30, 30, 60, 0.9);
}

.todo_input:nth-child(2) {
  margin-right: 1.875rem;
}

button {
  cursor: pointer;
  width: 5rem;
  height: 1.875rem;
  text-align: center;
  background-color: #caf;
  border-radius: 0.9375rem;
  border: none;
  box-shadow: 15px 11px 24px -16px rgba(30, 30, 60, 0.9);
  transition: .125s all ease-in-out;
}